<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="description" content="Subscription based design agency.">
<meta name="keywords" content="">
<meta name="author" content="elemis">

<link rel="stylesheet" href="{{ site.baseurl }}/dist/css/plugins.css"/>
<link rel="stylesheet" href="{{ site.baseurl }}/dist/css/style.css">
<link rel="stylesheet" href="{{ site.baseurl }}/dist/css/grape.css">
<link rel="stylesheet" href="{{ site.baseurl }}/dist/css/swiper-bundle.min.css">
<link rel="preload" href="{{ site.baseurl }}/dist/cfont.css" as="style" onload="this.rel='stylesheet'">

<!-- Favicons -->
<link rel="icon" href="{{ site.baseurl }}/images/favicon.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/imagesfavicon-16x16.png">
<link rel="manifest" href="{{ site.baseurl }}/images/site.webmanifest">

<title>{{ page.title }}</title>

{% include analytics.html %}